<div class="container" id="home">
		<div class="jumbotron" ng-controller="MainController">
			<h1>Home</h1>
			<input type="text" name="name" ng-model="name">
			<span>Hello, {{name}}</span>
            <ul>
            <li ui-sref-active="active">
                    <a ui-sref="home" href="#">
                        <span>Home</span>
                    </a>
            </li>
            </ul>
            <div ui-view></div>
		</div>
	</div>
	<div class="container" id="gallery">
		<div class="jumbotron">
			<h1>Gallery</h1>
		</div>
	</div>
	<div class="container" id="about">
		<div class="jumbotron">
			<h1>About Us</h1>
		</div>
	</div>
	<div class="container" id="contact">
		<div class="jumbotron">
			<h1>Contact</h1>
		</div>
	</div>
	<div class="container" id="profile">
		<div class="jumbotron">
			<h1>Profile</h1>
		</div>
	</div>