<div class="fittany-form" id="forgotpassword_form">
	<div ng-if="!success">

			<form role="form" name="forgotpasswordform" novalidate ng-submit="forgotpasswordform.$valid &&  submitForgotPassword(user)">

				<div class="form-group custom-form-group ">
					<label for="email" class="input-label" >Email*</label>
					<input placeholder="Email Address*" type="email" class="form-control custom-input" id="email" name="email" ng-model="user.email"  email-validation  required onfocus="this.placeholder = '', $('label[for=email]').show()" onblur="this.placeholder = 'Email*', $('label[for=email]').hide()">
					<span style="color:red" ng-show="(forgotpasswordform.email.$dirty && forgotpasswordform.email.$invalid) || (forgotpasswordform.$submitted && forgotpasswordform.email.$invalid)">
						<span ng-show="forgotpasswordform.email.$error.required">This is a required field.</span>
						<span ng-show="forgotpasswordform.email.$error.email">Invalid email address.</span>

					</span>

				</div>

        			<div class="row button-group padding-top padding-bottom">
					<div class="col-xs-12 col-sm-12 padding-top">
						<button  class="btn btn-default btn-lg custom-buttom" style="">Sign Up</button>
					</div>
					
				</div>
				
			</form>
		</div>	

</div>


