<div class="fittany-form" id="resetpassword_form">

       <div ng-if="error" class="jumbotron">
          <h3>THIS EMAIL IS NOT REGISTERED WITH US</h3>
       </div>

			<form role="form" name="resetpasswordform" novalidate ng-submit="resetpasswordform.$valid &&  resetPassword(user)">

                <div class="form-group custom-form-group ">
					<label for="password" class="input-label" >Password*</label>
					<input placeholder="Password*" type="password" class="form-control custom-input" id="pwd" name="password" ng-model="user.password"  password-check required onfocus="this.placeholder = '', $('label[for=password]').show()" onblur="this.placeholder = 'Password*', $('label[for=password]').hide()">
					<div style="color:red" ng-if="(resetpasswordform.password.$dirty && resetpasswordform.password.$invalid) || (resetpasswordform.$submitted && resetpasswordform.password.$invalid)">
						<div ng-if="resetpasswordform.password.$error.required">This is a required field.</div>
						<div ng-if="resetpasswordform.password.$error.passtest && !allValid">
							<div>The password should contains at least:</div>
							<div ng-if="!lcValid" style="">At least one lower case letter[a-z].</div>
							<div ng-if="!ucValid">At least one upper case letter[A-Z].</div>
							<div ng-if="!numValid">At least one number[0-9].</div>
							<div ng-if="!charValid">At least one symbol[!@#^$%&*()_-+=.,?{}].</div>
							<div ng-if="!minlengthValid ">Minimum 8 characters.</div>
						</div>
					</div>
					

				</div>

</br>
  </br>



                        <div class="form-group custom-form-group ">
					<label for="cpassword" class="input-label" >Confirm Password*</label>
					<input placeholder="Confirm Password*" type="password" class="form-control custom-input" id="cpassword" name="cpassword" ng-model="user.cpassword" password-compare="user.password" required onfocus="this.placeholder = '', $('label[for=cpassword]').show()" onblur="this.placeholder = 'Confirm Password*', $('label[for=cpassword]').hide()">
					<span style="color:red" ng-if="(resetpasswordform.cpassword.$dirty && resetpasswordform.cpassword.$invalid) || (resetpasswordform.$submitted && resetpasswordform.cpassword.$invalid)">
						<span ng-if="resetpasswordform.cpassword.$error.required">Please confirm the password.</span>
					</span>
					<span  style="color:red"  ng-if="(resetpasswordform.cpassword.$error.pwmatch &&
					 !resetpasswordform.cpassword.$error.required)">
    					Passwords don't match.
  					</span>
				</div>





                  <div class="row button-group padding-top padding-bottom">
					    <div class="col-xs-12 col-sm-12 padding-top">
						     <button  class="btn btn-default btn-lg custom-buttom" style="">Sign Up</button>
					    </div>
					</div>

			</form>


</div>


