
    <div class="col-xs-12 col-sm-2 ${properties.colborder @ context='attribute'}">
		<div data-sly-resource="${ '2-col-a' @ resourceType='hha/fittanylion/components/content/layoutcontainer'}"></div>
    </div>
    <div class="col-xs-12 col-sm-2 ${properties.colborder @ context='attribute'}">
		<div data-sly-resource="${ '2-col-b' @ resourceType='hha/fittanylion/components/content/layoutcontainer'}"></div>
    </div>
    <div class="col-xs-12 col-sm-2 ${properties.colborder @ context='attribute'}">
		<div data-sly-resource="${ '2-col-c' @ resourceType='hha/fittanylion/components/content/layoutcontainer'}"></div>
    </div>
    <div class="col-xs-12 col-sm-2 ${properties.colborder @ context='attribute'}">
		<div data-sly-resource="${ '2-col-d' @ resourceType='hha/fittanylion/components/content/layoutcontainer'}"></div>
    </div>
    <div class="col-xs-12 col-sm-2 ${properties.colborder @ context='attribute'}">
		<div data-sly-resource="${'2-col-e' @ resourceType='hha/fittanylion/components/content/layoutcontainer'}"></div>
    </div>
    <div class="col-xs-12 col-sm-2 ${properties.colborder @ context='attribute'}">
		<div data-sly-resource="${ '2-col-f' @ resourceType='hha/fittanylion/components/content/layoutcontainer'}"></div>
    </div>

