<div class="col-xs-12 col-sm-3 ${properties.colborder @ context='attribute'}">
  <div data-sly-resource="${ '3-col-a' @ resourceType='hha/fittanylion/components/content/layoutcontainer'}"></div>
  </div>
  <div class="col-xs-12 col-sm-3 ${properties.colborder @ context='attribute'}">
  <div data-sly-resource="${'3-col-b' @ resourceType='hha/fittanylion/components/content/layoutcontainer'}"></div>
  </div>
  <div class="col-xs-12 col-sm-6 ${properties.colborder @ context='attribute'}">
  <div data-sly-resource="${'6-col-c' @ resourceType='hha/fittanylion/components/content/layoutcontainer'}"></div>
  </div>
