<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Please verify the date!</h4>
</div>
<div class="modal-body" id="modal-body">
    <p>You selected:</p>
    <span>Start date: {{vm.startDate.getMonth()+1}}/{{vm.startDate.getDate()}}/{{vm.startDate.getFullYear()}}</span><br>
    <span>End date: {{vm.endDate.getMonth()+1}}/{{vm.endDate.getDate()}}/{{vm.endDate.getFullYear()}}</span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
